@media screen and (max-width: 992px) {
    .bio{
        margin-top: 1rem;
    }

    .about-row{
        width: 100%;
    }

    .about-content-left{
        padding-left: 0rem;
        margin-left: 1.5rem;
       
    }
  }