:root{
    --darkest: #2D142C ;
    --darker: #510A32 ;
    --mid:  #801336;
    --lights: #c72c41;
    --lighter: #EE4540;
    --lightest: #fce5e4;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
    
}

body{
    background: linear-gradient(    
        #510A32,
        #c72c41,
        #EE4540,
        #fce5e4
    ) !important;
}

.sidebar {
    background-color: var(--mid);
    width: 200px;
    position: fixed;
    height: 100vh;
    /* overflow-y: scroll; */
    left: 0;
    top:0;
    z-index: 100;
    /* border-radius: 0rem 0rem 2rem 0rem; */
    border: none;
    transition: width 300ms;
}

.checkbox{
    display: none;
}

.sidebar-menu li{
    width: 100%;

    
    margin-bottom: 1.7rem;
    padding-left: 1.7rem;
}

.sidebar-menu a{
    display: block;
    color: var(--lightest);
    font-size: 1.5rem;
    padding-left: 2rem;
}

.home {
    padding-top: 5rem;
}

#nav-toggle:checked + .sidebar {
    width: 200px;
}

#nav-toggle:checked + .sidebar  {
    display: none;
}


#nav-toggle:checked ~ .main-content {
    margin-left: 0px;

}

#nav-toggle:checked ~ .main-content header {
    width: calc(100%);
    left: 200px;
}


.main-content {
    transition: margin-left 300ms;
    margin-left: 200px;
}

.main-content header {
    background-color: var(--darkest);
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 5rem;
    /* box-shadow: 4px 4px 10px rgb(0,0,0,0.2); */
    /* position: fixed; */
    left: 200px;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: left 300ms;
}


.fas, .far, .fab{
    color: var(--lightest);
}
.page1 {
    /* height: 100vh;    */
    display: block !important;
}

#profiles {
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.background .name h1 {
    color: var(--lightest);
    /* padding-top: 10rem; */
    font-size: 3rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.background .name p {
    color: var(--lightest);
    /* margin: 0; */
    font-size: 1.3rem;
}

.name{

    height: fit-content;
    padding: 1rem;
    background: rgba(199, 44, 65, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(199, 44, 65, 0.34);
}

.displaypics, .name, .bio {
    margin: auto !important;
    height: fit-content;
    width: auto;  
}

.page1 img {
    width: auto !important;
}

.bio {
    /* margin-top: 13rem !important; */
    color: var(--lightest);
    font-size: 1.2rem;
    font-family: 'Concert One', cursive;
    padding: 1rem;
    background: rgba(199, 44, 65, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(199, 44, 65, 0.34);
}

/* .links {
   
} */

.containers{
    margin: auto;
    width: 75%;
}

.extras {
    color: var(--lightest);
    display: flex;
    justify-content: space-between;
    /* padding-top: 1.5rem; */
    text-align: center;
}

.extras p {
    padding: 0rem;
    margin: 0rem;
}

.touch {
    padding: 1rem;
    background: rgba(199, 44, 65, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(199, 44, 65, 0.34);
}

/* ========== page 2 styles =================  */

.page2 {
    color: #fce5e4;
}

.page2 h2, .page3 h2 {
    color: var(--lightest);
    padding-top: 3rem ;
    font-size: 2.5rem;
}

.page2 .card {
    padding: 1rem;
    background: rgba(199, 44, 65, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(199, 44, 65, 0.34);
}

/* ========== end of page 2 styles =================  */


/* ========== page 3 styles =================  */
.resumeMenu button {
    background-color: var(--darker) !important;
    margin: 1rem 0.3rem 1rem 0.3rem;
    color: #fce5e4;
    width: 10rem;
}
.resumeMenu button:hover {
    color: #fce5e4 !important;
}

.resumeMenu button.active {
    background-color: var(--lightest)!important;
}
.resumeMenu button.active:hover {
    color: var(--lights)!important;
}

.professionalSkills{
    margin: 1rem !important;
    
}

/* ========== end of page 3 styles =================  */


.about {
    color: var(--lightest);
    /* display: none; */
}

.about-heading {
    margin-top: 5rem;

}

.about-heading h1{
    font-size: 4rem;
}

.about-content{
    display: flex;
}
.about-content-left{
    text-align: center;
    margin-top: 2rem;
    margin-left: 5rem;
    width: auto;
    padding-left: 2rem;
    padding-inline-end: 2rem;   
}

.milestones{
    padding-top: 2rem;
}

.about-content-right{
    margin-top: 2rem ;
    margin-left: 2rem;
    padding-left: 3rem;
    width: auto;
    border-left: 1px dashed var(--lightest) ;
}

.about-content-right pre{
    padding-top: 2rem ;
    color: var(--lightest);
    font-size: 1rem;
}



.MyResume{
    display: flex;
    color: var(--lightest);
}

.MyResume h3 {
    padding-top: 2.5rem;
}

.resume-left {
    text-align: center;
    margin-top: 5rem;
    margin-left: 1rem;
    width: 12vw;
    padding-left: 1rem;
    
}
.resume-right{
    margin-top: 2rem ;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-left: 3rem;
    /* width: 88vw; */
    border-left: 1px dashed var(--lightest) 
}

.skills{
    display: flex;
    justify-content: space-evenly;
}

.resume-right-row3{
    display: flex;
}
.resume-right-row3-col1{
    width: 35%;
}
.education  h3, .expertise h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.education p, .expertise p {
    font-size: 1.2rem;
    margin: .5rem;
    padding: .1rem;

}

.resume-right-row3-col2 {
    border-left: dashed 1px;
    padding-left: 3rem;
}

.experience1, .experience2, .experience3 {
    display: flex;
}
 .date {
    width: 35%;
}

.background4{
    background-color: var(--lights);
    height: auto;
    padding-left: 1rem;
}

.background4 h2{
    color: var(--lightest);
    padding-top: 4rem ;
    font-size: 4rem;
}

.background4 p {
    color: var(--lightest);
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.background4 .card {
    background-color:var(--darker);
}
.background4 .card-title {
    color:var(--lightest);
    font-size: 2rem;
}
.background4 .card-text {
    color:var(--lightest);
    font-size: 1.1rem;
}

.contact {
    color: var(--lightest);
    /* display: none; */
}

.contact-heading {
    margin-top: 5rem;

}

.contact-heading h1{
    font-size: 4rem;
}

.contact-content{
    display: flex;
    margin-bottom: 3rem;
}
.contact-content-left{
    text-align: center;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 1rem;
    width: 20vw;
    padding-left: 2rem;
    padding-inline-end: 2rem;   
}

.contacts{
    padding-top: 3rem;
}

.email a {
    color: var(--lightest);
}

.contact-content-right{
    margin-top: 2rem ;
    margin-left: 2rem;
    padding-top: 3.5rem;
    padding-left: 1rem;
    width: 80vw;
    border: 1px dashed var(--lightest) ;
    border-radius: 10px;
}
form span{
    background-color: var(--darker) !important;
    color: var(--lightest) !important;
    border: dashed 1px var(--darker) !important;
}
form input, form textarea {
    background-color: var(--lightest) !important;
    border: dashed 1px var(--darker) !important;
    /* width: 80%; */
}

footer{
    background-color: var(--darker);
    height: 100px;
}

footer p {
    color: var(--lightest);
    padding-top: 2rem;
}

